SDA/Web References/wsConsultaReportesDA/wsConsultaReportesDA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx">
      <s:element name="DocumentacionPendiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSucursal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NoSocio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentacionPendienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentacionPendienteResult" type="tns:ArrayOfDocumentoPendiente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDocumentoPendiente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DocumentoPendiente" nillable="true" type="tns:DocumentoPendiente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentoPendiente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdDocumentacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdSiniestro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cooperativa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plaza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sucursal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaAlta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Siniestros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Operacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdEntidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NoSocio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SiniestrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SiniestrosResult" type="tns:ArrayOfSiniestro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSiniestro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Siniestro" nillable="true" type="tns:Siniestro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Siniestro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NoSiniestro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaReclamo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusSiniestro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ocupacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plaza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sucursal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Bitacoras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Operacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdEntidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BitacorasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BitacorasResult" type="tns:ArrayOfBitacora" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBitacora">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bitacora" nillable="true" type="tns:Bitacora" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bitacora">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdBitacora" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdDocumentacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Paqueteria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoGuia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaReclamo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDoc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateStatusSiniestroDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusSiniestro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusSiniestroDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStatusSiniestroDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertBitacoraDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Usuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBitacoraDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertBitacoraDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDocumentacionDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPaqueteria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaEnvio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoGuia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumentacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDocumentacionDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDocumentacionDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFechaRecDocuDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumentacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaRecibido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFechaRecDocuDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFechaRecDocuDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDetDocuDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdTipoDoc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdDocumentacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDetDocuDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDetDocuDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNumSiniestroDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNumSiniestroDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaNumSiniestroDAResult" type="tns:NumSiniestro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NumSiniestro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroSiniestro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertSaldosDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdCuenta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPrestamo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Saldo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UltimoMov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Plazo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TasaInteres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaPrestamo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertSaldosDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertSaldosDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaldoDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdSiniestro" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Oper" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaldoDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaldoDAResult" type="tns:ArrayOfSaldosDA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSaldosDA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SaldosDA" nillable="true" type="tns:SaldosDA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SaldosDA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdSaldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPrestamo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaCuentasDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCoop" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCuentasDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaCuentasDAResult" type="tns:ArrayOfCuentasDA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuentasDA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CuentasDA" nillable="true" type="tns:CuentasDA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CuentasDA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCoop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdTipoCta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertBeneficiarioDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido_Pat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido_Mat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Porcentaje" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdParentesco" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdSaldosDA" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBeneficiarioDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertBeneficiarioDAResult" type="tns:Error" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargaPrestamo">
        <s:complexType />
      </s:element>
      <s:element name="CargaPrestamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargaPrestamoResult" type="tns:ArrayOfTipoPrestamo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoPrestamo" nillable="true" type="tns:TipoPrestamo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoPrestamo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdTipoPrestamo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prestamo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDocumentoPendiente" nillable="true" type="tns:ArrayOfDocumentoPendiente" />
      <s:element name="ArrayOfSiniestro" nillable="true" type="tns:ArrayOfSiniestro" />
      <s:element name="ArrayOfBitacora" nillable="true" type="tns:ArrayOfBitacora" />
      <s:element name="Error" nillable="true" type="tns:Error" />
      <s:element name="NumSiniestro" nillable="true" type="tns:NumSiniestro" />
      <s:element name="ArrayOfSaldosDA" nillable="true" type="tns:ArrayOfSaldosDA" />
      <s:element name="ArrayOfCuentasDA" nillable="true" type="tns:ArrayOfCuentasDA" />
      <s:element name="ArrayOfTipoPrestamo" nillable="true" type="tns:ArrayOfTipoPrestamo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DocumentacionPendienteSoapIn">
    <wsdl:part name="parameters" element="tns:DocumentacionPendiente" />
  </wsdl:message>
  <wsdl:message name="DocumentacionPendienteSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentacionPendienteResponse" />
  </wsdl:message>
  <wsdl:message name="SiniestrosSoapIn">
    <wsdl:part name="parameters" element="tns:Siniestros" />
  </wsdl:message>
  <wsdl:message name="SiniestrosSoapOut">
    <wsdl:part name="parameters" element="tns:SiniestrosResponse" />
  </wsdl:message>
  <wsdl:message name="BitacorasSoapIn">
    <wsdl:part name="parameters" element="tns:Bitacoras" />
  </wsdl:message>
  <wsdl:message name="BitacorasSoapOut">
    <wsdl:part name="parameters" element="tns:BitacorasResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDASoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatusSiniestroDA" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDASoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusSiniestroDAResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDASoapIn">
    <wsdl:part name="parameters" element="tns:InsertBitacoraDA" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDASoapOut">
    <wsdl:part name="parameters" element="tns:InsertBitacoraDAResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDASoapIn">
    <wsdl:part name="parameters" element="tns:InsertDocumentacionDA" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDASoapOut">
    <wsdl:part name="parameters" element="tns:InsertDocumentacionDAResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDASoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFechaRecDocuDA" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDASoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFechaRecDocuDAResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDASoapIn">
    <wsdl:part name="parameters" element="tns:InsertDetDocuDA" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDASoapOut">
    <wsdl:part name="parameters" element="tns:InsertDetDocuDAResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDASoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNumSiniestroDA" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDASoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNumSiniestroDAResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDASoapIn">
    <wsdl:part name="parameters" element="tns:InsertSaldosDA" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDASoapOut">
    <wsdl:part name="parameters" element="tns:InsertSaldosDAResponse" />
  </wsdl:message>
  <wsdl:message name="SaldoDASoapIn">
    <wsdl:part name="parameters" element="tns:SaldoDA" />
  </wsdl:message>
  <wsdl:message name="SaldoDASoapOut">
    <wsdl:part name="parameters" element="tns:SaldoDAResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDASoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCuentasDA" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDASoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCuentasDAResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDASoapIn">
    <wsdl:part name="parameters" element="tns:InsertBeneficiarioDA" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDASoapOut">
    <wsdl:part name="parameters" element="tns:InsertBeneficiarioDAResponse" />
  </wsdl:message>
  <wsdl:message name="CargaPrestamoSoapIn">
    <wsdl:part name="parameters" element="tns:CargaPrestamo" />
  </wsdl:message>
  <wsdl:message name="CargaPrestamoSoapOut">
    <wsdl:part name="parameters" element="tns:CargaPrestamoResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentacionPendienteHttpGetIn">
    <wsdl:part name="IdSucursal" type="s:string" />
    <wsdl:part name="NoSocio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocumentacionPendienteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocumentoPendiente" />
  </wsdl:message>
  <wsdl:message name="SiniestrosHttpGetIn">
    <wsdl:part name="Operacion" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
    <wsdl:part name="NoSocio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SiniestrosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSiniestro" />
  </wsdl:message>
  <wsdl:message name="BitacorasHttpGetIn">
    <wsdl:part name="Operacion" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BitacorasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfBitacora" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="StatusSiniestro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="Usuario" type="s:string" />
    <wsdl:part name="Mensaje" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="IdPaqueteria" type="s:string" />
    <wsdl:part name="FechaEnvio" type="s:string" />
    <wsdl:part name="NoGuia" type="s:string" />
    <wsdl:part name="IdDocumentacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDAHttpGetIn">
    <wsdl:part name="IdDocumentacion" type="s:string" />
    <wsdl:part name="FechaRecibido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDAHttpGetIn">
    <wsdl:part name="IdTipoDoc" type="s:string" />
    <wsdl:part name="IdDocumentacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDAHttpGetOut">
    <wsdl:part name="Body" element="tns:NumSiniestro" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="IdCuenta" type="s:string" />
    <wsdl:part name="IdPrestamo" type="s:string" />
    <wsdl:part name="Saldo" type="s:string" />
    <wsdl:part name="UltimoMov" type="s:string" />
    <wsdl:part name="Plazo" type="s:string" />
    <wsdl:part name="TasaInteres" type="s:string" />
    <wsdl:part name="FechaPrestamo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="SaldoDAHttpGetIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="Oper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaldoDAHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSaldosDA" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDAHttpGetIn">
    <wsdl:part name="IdCoop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDAHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCuentasDA" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDAHttpGetIn">
    <wsdl:part name="Nombre_1" type="s:string" />
    <wsdl:part name="Nombre_2" type="s:string" />
    <wsdl:part name="Apellido_Pat" type="s:string" />
    <wsdl:part name="Apellido_Mat" type="s:string" />
    <wsdl:part name="Porcentaje" type="s:string" />
    <wsdl:part name="IdParentesco" type="s:string" />
    <wsdl:part name="IdSaldosDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDAHttpGetOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="CargaPrestamoHttpGetIn" />
  <wsdl:message name="CargaPrestamoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoPrestamo" />
  </wsdl:message>
  <wsdl:message name="DocumentacionPendienteHttpPostIn">
    <wsdl:part name="IdSucursal" type="s:string" />
    <wsdl:part name="NoSocio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocumentacionPendienteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDocumentoPendiente" />
  </wsdl:message>
  <wsdl:message name="SiniestrosHttpPostIn">
    <wsdl:part name="Operacion" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
    <wsdl:part name="NoSocio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SiniestrosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSiniestro" />
  </wsdl:message>
  <wsdl:message name="BitacorasHttpPostIn">
    <wsdl:part name="Operacion" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BitacorasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBitacora" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="StatusSiniestro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSiniestroDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="Usuario" type="s:string" />
    <wsdl:part name="Mensaje" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertBitacoraDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="IdPaqueteria" type="s:string" />
    <wsdl:part name="FechaEnvio" type="s:string" />
    <wsdl:part name="NoGuia" type="s:string" />
    <wsdl:part name="IdDocumentacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertDocumentacionDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDAHttpPostIn">
    <wsdl:part name="IdDocumentacion" type="s:string" />
    <wsdl:part name="FechaRecibido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFechaRecDocuDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDAHttpPostIn">
    <wsdl:part name="IdTipoDoc" type="s:string" />
    <wsdl:part name="IdDocumentacion" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertDetDocuDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumSiniestroDAHttpPostOut">
    <wsdl:part name="Body" element="tns:NumSiniestro" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="IdCuenta" type="s:string" />
    <wsdl:part name="IdPrestamo" type="s:string" />
    <wsdl:part name="Saldo" type="s:string" />
    <wsdl:part name="UltimoMov" type="s:string" />
    <wsdl:part name="Plazo" type="s:string" />
    <wsdl:part name="TasaInteres" type="s:string" />
    <wsdl:part name="FechaPrestamo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertSaldosDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="SaldoDAHttpPostIn">
    <wsdl:part name="IdSiniestro" type="s:string" />
    <wsdl:part name="Oper" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SaldoDAHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSaldosDA" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDAHttpPostIn">
    <wsdl:part name="IdCoop" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuentasDAHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCuentasDA" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDAHttpPostIn">
    <wsdl:part name="Nombre_1" type="s:string" />
    <wsdl:part name="Nombre_2" type="s:string" />
    <wsdl:part name="Apellido_Pat" type="s:string" />
    <wsdl:part name="Apellido_Mat" type="s:string" />
    <wsdl:part name="Porcentaje" type="s:string" />
    <wsdl:part name="IdParentesco" type="s:string" />
    <wsdl:part name="IdSaldosDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertBeneficiarioDAHttpPostOut">
    <wsdl:part name="Body" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="CargaPrestamoHttpPostIn" />
  <wsdl:message name="CargaPrestamoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoPrestamo" />
  </wsdl:message>
  <wsdl:portType name="wsConsultaReportesDASoap">
    <wsdl:operation name="DocumentacionPendiente">
      <wsdl:input message="tns:DocumentacionPendienteSoapIn" />
      <wsdl:output message="tns:DocumentacionPendienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <wsdl:input message="tns:SiniestrosSoapIn" />
      <wsdl:output message="tns:SiniestrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <wsdl:input message="tns:BitacorasSoapIn" />
      <wsdl:output message="tns:BitacorasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <wsdl:input message="tns:UpdateStatusSiniestroDASoapIn" />
      <wsdl:output message="tns:UpdateStatusSiniestroDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <wsdl:input message="tns:InsertBitacoraDASoapIn" />
      <wsdl:output message="tns:InsertBitacoraDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <wsdl:input message="tns:InsertDocumentacionDASoapIn" />
      <wsdl:output message="tns:InsertDocumentacionDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <wsdl:input message="tns:UpdateFechaRecDocuDASoapIn" />
      <wsdl:output message="tns:UpdateFechaRecDocuDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <wsdl:input message="tns:InsertDetDocuDASoapIn" />
      <wsdl:output message="tns:InsertDetDocuDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <wsdl:input message="tns:ConsultaNumSiniestroDASoapIn" />
      <wsdl:output message="tns:ConsultaNumSiniestroDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <wsdl:input message="tns:InsertSaldosDASoapIn" />
      <wsdl:output message="tns:InsertSaldosDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <wsdl:input message="tns:SaldoDASoapIn" />
      <wsdl:output message="tns:SaldoDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <wsdl:input message="tns:ConsultaCuentasDASoapIn" />
      <wsdl:output message="tns:ConsultaCuentasDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <wsdl:input message="tns:InsertBeneficiarioDASoapIn" />
      <wsdl:output message="tns:InsertBeneficiarioDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <wsdl:input message="tns:CargaPrestamoSoapIn" />
      <wsdl:output message="tns:CargaPrestamoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsConsultaReportesDAHttpGet">
    <wsdl:operation name="DocumentacionPendiente">
      <wsdl:input message="tns:DocumentacionPendienteHttpGetIn" />
      <wsdl:output message="tns:DocumentacionPendienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <wsdl:input message="tns:SiniestrosHttpGetIn" />
      <wsdl:output message="tns:SiniestrosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <wsdl:input message="tns:BitacorasHttpGetIn" />
      <wsdl:output message="tns:BitacorasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <wsdl:input message="tns:UpdateStatusSiniestroDAHttpGetIn" />
      <wsdl:output message="tns:UpdateStatusSiniestroDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <wsdl:input message="tns:InsertBitacoraDAHttpGetIn" />
      <wsdl:output message="tns:InsertBitacoraDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <wsdl:input message="tns:InsertDocumentacionDAHttpGetIn" />
      <wsdl:output message="tns:InsertDocumentacionDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <wsdl:input message="tns:UpdateFechaRecDocuDAHttpGetIn" />
      <wsdl:output message="tns:UpdateFechaRecDocuDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <wsdl:input message="tns:InsertDetDocuDAHttpGetIn" />
      <wsdl:output message="tns:InsertDetDocuDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <wsdl:input message="tns:ConsultaNumSiniestroDAHttpGetIn" />
      <wsdl:output message="tns:ConsultaNumSiniestroDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <wsdl:input message="tns:InsertSaldosDAHttpGetIn" />
      <wsdl:output message="tns:InsertSaldosDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <wsdl:input message="tns:SaldoDAHttpGetIn" />
      <wsdl:output message="tns:SaldoDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <wsdl:input message="tns:ConsultaCuentasDAHttpGetIn" />
      <wsdl:output message="tns:ConsultaCuentasDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <wsdl:input message="tns:InsertBeneficiarioDAHttpGetIn" />
      <wsdl:output message="tns:InsertBeneficiarioDAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <wsdl:input message="tns:CargaPrestamoHttpGetIn" />
      <wsdl:output message="tns:CargaPrestamoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsConsultaReportesDAHttpPost">
    <wsdl:operation name="DocumentacionPendiente">
      <wsdl:input message="tns:DocumentacionPendienteHttpPostIn" />
      <wsdl:output message="tns:DocumentacionPendienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <wsdl:input message="tns:SiniestrosHttpPostIn" />
      <wsdl:output message="tns:SiniestrosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <wsdl:input message="tns:BitacorasHttpPostIn" />
      <wsdl:output message="tns:BitacorasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <wsdl:input message="tns:UpdateStatusSiniestroDAHttpPostIn" />
      <wsdl:output message="tns:UpdateStatusSiniestroDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <wsdl:input message="tns:InsertBitacoraDAHttpPostIn" />
      <wsdl:output message="tns:InsertBitacoraDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <wsdl:input message="tns:InsertDocumentacionDAHttpPostIn" />
      <wsdl:output message="tns:InsertDocumentacionDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <wsdl:input message="tns:UpdateFechaRecDocuDAHttpPostIn" />
      <wsdl:output message="tns:UpdateFechaRecDocuDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <wsdl:input message="tns:InsertDetDocuDAHttpPostIn" />
      <wsdl:output message="tns:InsertDetDocuDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <wsdl:input message="tns:ConsultaNumSiniestroDAHttpPostIn" />
      <wsdl:output message="tns:ConsultaNumSiniestroDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <wsdl:input message="tns:InsertSaldosDAHttpPostIn" />
      <wsdl:output message="tns:InsertSaldosDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <wsdl:input message="tns:SaldoDAHttpPostIn" />
      <wsdl:output message="tns:SaldoDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <wsdl:input message="tns:ConsultaCuentasDAHttpPostIn" />
      <wsdl:output message="tns:ConsultaCuentasDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <wsdl:input message="tns:InsertBeneficiarioDAHttpPostIn" />
      <wsdl:output message="tns:InsertBeneficiarioDAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <wsdl:input message="tns:CargaPrestamoHttpPostIn" />
      <wsdl:output message="tns:CargaPrestamoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsConsultaReportesDASoap" type="tns:wsConsultaReportesDASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocumentacionPendiente">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/DocumentacionPendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/Siniestros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/Bitacoras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/UpdateStatusSiniestroDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertBitacoraDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertDocumentacionDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/UpdateFechaRecDocuDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertDetDocuDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/ConsultaNumSiniestroDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertSaldosDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/SaldoDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/ConsultaCuentasDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertBeneficiarioDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <soap:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/CargaPrestamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConsultaReportesDASoap12" type="tns:wsConsultaReportesDASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocumentacionPendiente">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/DocumentacionPendiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/Siniestros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/Bitacoras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/UpdateStatusSiniestroDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertBitacoraDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertDocumentacionDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/UpdateFechaRecDocuDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertDetDocuDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/ConsultaNumSiniestroDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertSaldosDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/SaldoDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/ConsultaCuentasDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/InsertBeneficiarioDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <soap12:operation soapAction="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx/CargaPrestamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConsultaReportesDAHttpGet" type="tns:wsConsultaReportesDAHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DocumentacionPendiente">
      <http:operation location="/DocumentacionPendiente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <http:operation location="/Siniestros" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <http:operation location="/Bitacoras" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <http:operation location="/UpdateStatusSiniestroDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <http:operation location="/InsertBitacoraDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <http:operation location="/InsertDocumentacionDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <http:operation location="/UpdateFechaRecDocuDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <http:operation location="/InsertDetDocuDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <http:operation location="/ConsultaNumSiniestroDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <http:operation location="/InsertSaldosDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <http:operation location="/SaldoDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <http:operation location="/ConsultaCuentasDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <http:operation location="/InsertBeneficiarioDA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <http:operation location="/CargaPrestamo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConsultaReportesDAHttpPost" type="tns:wsConsultaReportesDAHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DocumentacionPendiente">
      <http:operation location="/DocumentacionPendiente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Siniestros">
      <http:operation location="/Siniestros" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bitacoras">
      <http:operation location="/Bitacoras" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusSiniestroDA">
      <http:operation location="/UpdateStatusSiniestroDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBitacoraDA">
      <http:operation location="/InsertBitacoraDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentacionDA">
      <http:operation location="/InsertDocumentacionDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFechaRecDocuDA">
      <http:operation location="/UpdateFechaRecDocuDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDetDocuDA">
      <http:operation location="/InsertDetDocuDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNumSiniestroDA">
      <http:operation location="/ConsultaNumSiniestroDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSaldosDA">
      <http:operation location="/InsertSaldosDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoDA">
      <http:operation location="/SaldoDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCuentasDA">
      <http:operation location="/ConsultaCuentasDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBeneficiarioDA">
      <http:operation location="/InsertBeneficiarioDA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargaPrestamo">
      <http:operation location="/CargaPrestamo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsConsultaReportesDA">
    <wsdl:port name="wsConsultaReportesDASoap" binding="tns:wsConsultaReportesDASoap">
      <soap:address location="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" />
    </wsdl:port>
    <wsdl:port name="wsConsultaReportesDASoap12" binding="tns:wsConsultaReportesDASoap12">
      <soap12:address location="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" />
    </wsdl:port>
    <wsdl:port name="wsConsultaReportesDAHttpGet" binding="tns:wsConsultaReportesDAHttpGet">
      <http:address location="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" />
    </wsdl:port>
    <wsdl:port name="wsConsultaReportesDAHttpPost" binding="tns:wsConsultaReportesDAHttpPost">
      <http:address location="http://qa.prybe.coop/WSPrybeBeneficios/wspbene/wsConsultaReportesDA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>